<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Ticket</title>
  <link rel="stylesheet" href="/public/stylesheets/ticket.css">
  <style>
    /* Add responsive styles here */
    .container {
      width: 250px;
      height: fit-content;
       /* Set maximum width for the container */
      /*padding: 20px;  Add padding to the container */
      box-sizing: border-box; /* Include padding in the width calculation */
      text-align: center;
      margin:auto;

    }

    .m-ticket {
     /* padding: 20px;  Add padding to the ticket */
      background-color: #f7f7f7; /* Add background color to the ticket */
      border-radius: 10px; /* Add border radius to the ticket */
    }

    .movie-details {
      text-align: center;
      margin-bottom: 20px;
    }

    .poster {
     width: 200px;
      height: 200px;
    }

    .info,
    .info-cancel,
    .total-amount {
      text-align: center;
    }

    @media screen and (max-width: 768px) {
      /* Adjust styles for smaller screens */
      .container {
        padding: 10px; /* Reduce padding for smaller screens */
        height:70px;
      }
    }

    .scan{
        width:30%;
    }


  </style>
</head>
<body>

  <div class="container">

    <div class="m-ticket">
      <div class="movie-details">
        <p class="m">GYM-Ticket</p>
        <img src="images/crossfit.jpeg" class="poster">
        <div class="movie">
          <h4>{{gymname}}</h4>
          <p>Issued Date: {{ formatedisdate }}</p>
          <p>Expiry Date: {{ formattedexdate }}</p>
          
        </div>
      </div>

    

      <div class="ticket-details">
        <img src="https://pngimg.com/uploads/qr_code/qr_code_PNG2.png" class="scan " >
        <div class="ticket">  
          <h6>BOOKING ID: {{id}}</h6>
        </div>
      </div>

      <div class="info-cancel">
        Cancellation not available
      </div>

      <div class="total-amount">
        <p>Total Amount</p>
        <p>Rs. {{price}}</p>
      </div>
    </div><!---m-ticket end---->
  </div><!---container end---->

</body>
</html>
